body,html {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: lightblue;
}
nav {
	background-color: #0056b3;
	overflow: hidden;
}
nav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav a:hover {
	background-color: #ddd;
	color: black;
}		
.header, .footer {
	background-color: lightblue;
	color: white;
	text-align: left;
	padding: 20px 0;
}
.contan_second {	
	padding: 20px;
	background-color: lightgrey;
	border-right: 1px solid #ddd;
}


table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}
th {
	background-color: #f2f2f2;
}
input[type="number"] {
	width: 50%;
	box-sizing: border-box;
}
button {
	padding: 10px 20px;
	background-color: #0056b3;
	color: white;
	border: none;
	cursor: pointer;
	margin-right: 10px;
}
button:hover {
	background-color: #45a049;
}